body{
    font-family: 'Bellefair', serif;
}
.mlm-item-list li:nth-last-child(1),.mlm-item-list li:nth-last-child(2){
display:none !important;
}

.mlm-padding{
padding:20px;
}

.mlm-heading{
	font-size:14px;
    color:#FE9126;
}

.mlm-item-list .xepan-commerce-item-name h2{
	font-size:20px;
  	text-align:center;
}
.footer1{
background-color:#2B2A2A;
color:white;
}
.footer1 a{
color:white;
}
.footer2{
  background-color:#393737 !important;
 color:#FF9B05;
  font-weight:bold;
}