 /*Define Your Custom CSS*/
 .xavoc-mlm-search-product .xepan-commerce-search-tool .atk-cell{
 	float: left;
 }

 .xavoc-mlm-search-product .atk-form-field .atk-input-combo .atk-jackscrew{
 	width: 80%;
 	float: left;
 }
 .xavoc-mlm-search-product .atk-form-row-line{
 	width: 100%;
 }

 .xavoc-mlm-search-product input{
 	width: 100%;
 }

 .header-section-top{
 	background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #e9e8e8;
    height: 26px;
}


.middle-link{
	display: inline-table; list-style: outside none none;
}
.nav-link > a {
    color: #5a5a5a;
    margin: 0 7px;
    padding: 0;
}
.nav-link {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.promotional-links .middle-link li.nav-link + li.nav-link::before {
    color: #000;
    content: "|";
    display: inline-block;
    font-size: 10pt;
    font-weight: 400;
    margin-left: 1px;
    text-decoration: none;
}


/*start Distributor Dashboard dashbaord */
.ds-distributor-navbar .navbar{
    background-color: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f26922 0%, #f05023 100%) repeat scroll 0 0;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);*/
    height: 90px;
}

.ds-distributor-navbar .navbar-brand > img{
    width:90px;
}

.ds-distributor-navbar .nav.navbar-nav li.active{
    border-bottom: 3px solid #F05023;
}
/*end */
