<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Epan</title>
<!-- Bootstrap Core CSS -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--><!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    xEpan-ATK-Header-End-->
<script src="js/bootstrap.min.js" style=""></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- temporary nav bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DS Marketing</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
        	<a href="dashboard">DashBoard</a>
        </li>
        <li>
        	<a href="panelregistration">Registration</a>
        </li>
        <li>
        	<a href="genology">Genology</a>
        </li>
        <li>
        	<a href="mypayouts">My Payouts</a>
        </li>
        <li>
        	<a href="mywallet">My Wallet</a>
        </li>
      </ul>
    </div>
   </div>
</nav>

<!-- end of nav bar -->
<div id="dc76902e-b727-4e42-bc59-24c91891b385" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" class="xepan-component xepan-sortable-component xepan-page-wrapper ui-sortable" style="min-height: 200px;" scrollamount="">{$Content}
</div>
</body>
</html>
