 <!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Epan</title>
<!-- Bootstrap Core CSS --><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--><!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    xEpan-ATK-Header-End--><script src="js/bootstrap.min.js" style=""></script><link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="ds-franchises-body ds-distributor-body">
<!-- <div class="xepan-component xepan-serverside-component" xepan-component-name="DistributorMenu" xepan-component="xavoc/mlm/Tool_DistributorMenu" id="6b046b26-3964-467e-8c4c-e044c06c62c3"></div> -->
<div class="xepan-component xepan-serverside-component" xepan-component-name="FranchisesMenu" xepan-component="xavoc/mlm/Tool_FranchisesMenu" id="3caec1d2-ad4b-42f3-b597-b81998db100e"></div>
<div id="dc76902e-b727-4e42-bc59-24c91891b385" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" class="xepan-component xepan-page-wrapper ui-sortable" style="min-height: 200px;" scrollamount="">{$Content}</div>


<div></div>
</body>
</html>
