 /*Define Your Custom CSS*/

.mlm-padding{
padding:20px;
}

.bg-white{
background-color:white;
}
.bg-gray{
	background-color:#
}
 .xavoc-mlm-search-product .xepan-commerce-search-tool .atk-cell{
    float: left;
 }

 .xavoc-mlm-search-product .atk-form-field .atk-input-combo .atk-jackscrew{
    width: 80%;
    float: left;
 }
 .xavoc-mlm-search-product .atk-form-row-line{
    width: 100%;
 }

 .xavoc-mlm-search-product input{
    width: 100%;
 }

 .header-section-top{
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #e9e8e8;
    height: 26px;
}


.middle-link{
    display: inline-table; list-style: outside none none;
}

.nav-link > a {
    color: #5a5a5a;
    margin: 0 7px;
    padding: 0;
}

.nav-link {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.promotional-links .middle-link li.nav-link + li.nav-link::before {
    color: #000;
    content: "|";
    display: inline-block;
    font-size: 10pt;
    font-weight: 400;
    margin-left: 1px;
    text-decoration: none;
}


/*start Distributor Dashboard dashbaord */
.ds-distributor-navbar .navbar{
    background-color: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f26922 0%, #f05023 100%) repeat scroll 0 0;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);*/
    /*height: 90px;*/
}

.ds-distributor-navbar a.navbar-brand{
    padding: 0px !important;
    margin: 0px 20px 0px 0px!important;
}
.ds-distributor-navbar .navbar-brand > img{
    width:90px;
}


.ds-distributor-navbar .nav.navbar-nav li.active{
    border-bottom: 3px solid #F05023;
    
}
.ds-distributor-navbar .nav.navbar-nav li > a{
    color: #0170BA;
}
.ds-distributor-navbar .nav.navbar-nav li.active > a{
    color: #F26922;
}

.ds-distributor-navbar .navbar{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.main-box{
    background-color:white;
    padding:20px;
    box-shadow:20px 20px 20px rgba(0, 0, 0, 0.3);
    overflow:auto; 
}

.main-box table{
    width:100%;
}

.main-box table tbody tr{
    border-bottom: 1px solid #f3f3f3; 
}
.main-box table tbody td{
    padding-bottom: 5px; 
}

.ds-distributor-body{
    background-color: #f5f5f5;
}

.ds-kitlist .caption h3{
    height: 40px;
    margin: 0px;
    font-size: 18px;
}
.kit-description{
    min-height:40px;
    font-size:14px;
    color:gray;
}

.ds-repurchase-list div.ds-list-li{
    height:500px; 
}
/*.ds-kitlist .thumbnail > .img-wrapper{
    background: #f0f0f0;
}*/

/*end */


.ds-form input,.ds-form select,.ds-form textarea{
    width:100%;
    /*padding:2px;*/
}
/*.ds-form textarea{
    height: 100px;
}*/

/*.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}*/

.atk-effect-danger{
    color:red;
}

/* header bar css start*/
.xepan-mlm-header-bar{
    padding:8px;
}
.xepan-mlm-header-bar image{
    width:75%;
    padding:7px 0;
}
.xepan-mlm-header-bar .xavoc-mlm-search-product {
    line-height: 25px;
    /*padding-top: 30px;*/
}
.xepan-mlm-header-bar .micro-login{
    padding-top:12px;
}

.xepan-mlm-header-bar .mlm-cart{
    padding-top: 12px;
}
/* header bar css end*/

.mlm-brand-partner-section{
    margin: 2% auto;
}
.mlm-brand-partner-section .partner-brand-image{
    height:100px;
    border: 1px solid #f5f5f5;
    line-height: 100px;
    padding:15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.mlm-brand-partner-section .partner-brand-image img{
    display: inline-block;
}

.ds-bg-orange{
    background-color: rgb(244, 114, 33);
    color: #fff;
}
.ds-bg-gray {
    background: #f5f5f5 none repeat scroll 0 0;
}
.footer-section .footer-title{}

.footer-section .footer-text{
    text-transform: capitalize;
    color: #5a5a5a;
}

.xepan-mlm-page-breadcum-area{
    position: relative;
    /*min-height: 300px;*/
    background-size: 100% auto;
}
.bg-opacity-black:before{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}
.bg-opacity-black:before{
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    /*z-index: -1;*/
}

.breadcrumbs{}

.breadcrumbs-title{
    color: #fff;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 0;
    padding: 150px 0 75px;
    text-align: center;
    text-transform: uppercase;
}
.breadcrumbs-list{
     line-height: 1;
    padding-bottom: 10px;
}
.breadcrumbs-list > li {
    color: #b3b3b3;
    display: inline-block;
    padding-right: 5px;
    position: relative;
    text-transform: uppercase;
}
.breadcrumbs-list > li + li {
    padding-left: 10px;
}
.breadcrumbs-list > li + li::before {
    content: "";
    font-family: "fontawesome";
    left: 0;
    position: absolute;
    top: 0;
}
.card{
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    margin: 25px 0;
    position: relative;
    width: 100%;
    padding:5px;
}

.card-stats .title {
    margin: 0;
}
.card-stats .card-header {
    float: left;
    text-align: center;
    margin: -20px 15px 0;
    padding: 15px;   
}

.card-stats .card-header i {
    font-size: 36px;
    height: 56px;
    line-height: 56px;
    width: 56px;
}

.card-stats .card-content {
    padding-top: 10px;
    text-align: right;
}

.card-footer{
    margin-top:10px; 
    color:#AAA;
}

/*theme default*/
.dscard > .card-header{
    background: rgba(0, 0, 0, 0) linear-gradient(60deg, #ffa726, #fb8c00) repeat scroll 0 0;
    color: white;    
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2); 
}
.dscard{
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

/*theme orange*/
.card-orange > .card-header{
    background: rgba(0, 0, 0, 0) linear-gradient(60deg, #ffa726, #fb8c00) repeat scroll 0 0;
    color: white;    
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.card-orange{
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

/*theme-green*/
.card-green > .card-header{
    background:rgba(0, 0, 0, 0) linear-gradient(60deg, #66bb6a, #43a047) repeat scroll 0 0;
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);   
}
.card-green{
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);   
}

/*theme-red*/
.card-red > .card-header{
    background:rgba(0, 0, 0, 0) linear-gradient(60deg, #ef5350, #e53935) repeat scroll 0 0;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.card-red{
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);    
}

/*theme-blue*/
.card-blue > .card-header{
    background:rgba(0, 0, 0, 0) linear-gradient(60deg, #26c6da, #00acc1) repeat scroll 0 0;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.card-blue{
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);    
}

/*theme-purple*/
.card-purple > .card-header{
    background:rgba(0, 0, 0, 0) linear-gradient(60deg, #9c27b0, #ea75f1) repeat scroll 0 0;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card-purple{
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);    
}

/*tabs css*/
.ds-distributor-body .atk-tabs.ui-tabs{
    border: 0px;
}
.ds-distributor-body ul.ui-tabs-nav{
    /*orange*/
    box-shadow:0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
    background:rgba(0, 0, 0, 0) linear-gradient(60deg, #ffa726, #fb8c00) repeat scroll 0 0;
    border: 0px;
    /*blue*/
    background:/*rgba(0, 0, 0, 0) linear-gradient(60deg, #26c6da, #00acc1) repeat scroll 0 0;
    box-shadow:*/0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    padding:10px;
}
.ds-distributor-body li.ui-state-default{
    padding:5px 10px;
    background: transparent !important;
    border: 0px;
}

.ds-distributor-body li.ui-state-default a{
    color: white;
}
.ds-distributor-body li.ui-tabs-active.ui-state-active{
    background: #f0f0f0 !important;
}

.ds-distributor-body li.ui-tabs-active.ui-state-active > a{
    color: black;
}

.ds-distributor-body button{

    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    /*box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);*/*/
    margin-top:10px;
}

.ds-distributor-body input{
    width: 100%;
}


.ds-distributor-body .footable-loaded.footable {
    border-collapse: collapse !important;
}

.ds-distributor-body table tr > td,
.atk-table table tr > td
{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.ds-kit-paginator {
    margin-bottom:30px;
}
.ds-kit-paginator a{
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}
/*.ds-distributor-body thead th,
.ds-distributor-body tr td
{
    text-align: right;
}*/

.xepan-mlm-top-header{
    text-align: center;
    background: #f7f7f7;
}
.xepan-mlm-top-header .social-icon{
    margin: 5px;
    padding: 8px;
    width: 8%;
    cursor: pointer;
    border-radius:4px;
}
.xepan-mlm-top-header .email,.xepan-mlm-top-header .mobile-no{
    color: #7f7f7f;
    font-size: 16px;
    margin: 5px;
}

.xepan-commerce-tool-cart li{
    list-style: none;
}

.xepan-commerce-tool-cart li a{
    color: #7f7f7f;
}
/*.xepan-commerce-tool-cart li .xepan-cart{
    color: #5cc784;
}*/
.ds-cart-img{
    width:20%;
    margin-right: 10px;
}
.ds-cart-item-count{
    /*background: red none repeat scroll 0 0;*/
    border-radius: 50% 50% 50% 0;
    bottom: 18px;
    display: inline;
    padding: 3px 6.8px;
    position: relative;
    right: 13px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;   
}
 
.xepan-cart{
    margin-top: 0.7em;
}
.xepan-cart::before {
    border-bottom: 12px solid #f0f0f0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: 75px;
    bottom: 100%;
    width: 0;
} 


/****Footer css Start *****/
.footer1 {
    /*background: #fff url("../images/footer/footer-bg.png") repeat scroll left top;*/
    background: #f7f7f7;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    border-top: 2px solid rgb(51, 122, 183);
    border-bottom: 2px solid rgb(244, 114, 33);
    /*  border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #003;*/
}



.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: rgb(244, 114, 33);
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.xepan-mlm-megamenu .navbar{
    border-radius:0px;
}


.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}

.footer-bottom {
    background-color: #f7f7f7;
    min-height: 30px;
    width: 100%;
}


.footer-bottom-content {
    color: #7f7f7f;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
/****Footer css End *****/

/*Slider*/
.nivo-controlNav{
    display: none;
}
.bank-logo{
	margin-top:50%;
}
.bank-detail{
    margin: 10px;
    padding: 15px;
  	border:2px solid rgb(244, 114, 33);
  	border-radius:20px;
}
.bank-detail::before {
    border-bottom: 35px solid transparent;
    border-right: 35px solid rgb(244, 114, 33);
    border-top: 35px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    right: 100%;
    top: 66px;
    width: 0;
}

.bg-primary .navbar-toggle{
	border:1px solid #ddd;
}
.bg-primary .navbar-toggle span{
	background-color:#ddd;
}

.mega-dropdown{
    border-left: 1px solid transparent;
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.1) inset;
}
#bs-example-navbar-collapse-1 .nav li.mega-dropdown:last-child {
    border-right: 1px solid transparent;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
}

.navbar-header span.icon-bar{
    background-color: orange; 
}

.atk4_grid table{
    width:100%;
}
.ds-button{
    margin-top:10px; 
}

.atk-table{
    margin-top:10px;
}

.atk-table .atk-box-small{
    margin-bottom: 20px !important;
    text-align:right !important;
}

/*product detail page*/
.ds-distributor-body .zoomContainer{
    z-index: 1001 !important;
}

.ds-distributor-body .xshop-item-image-block{
    width: 30% !important;
    float: left;
}

.ds-distributor-body .xshop-item-image-block{
    margin-right:5px !important;
}

.ds-distributor-body .xshop-item-image-block a,
.ds-distributor-body .xshop-item-image-block img{
    width: 100% !important;
}

#ui-datepicker-div{
    width:auto !important;
}

.ui-datepicker-calendar td{
    padding: 1px !important;
}

/*----end-----*/